html
    head
        title Not found
        link(rel="stylesheet", href="css/bundle.css")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700", rel="stylesheet", type="text/css")
    body
        div.page-404
            h2.page-404--title #{title}
            a.page-404--redirect(href="/") Home page
