html
    head
        title Chat
        link(rel="stylesheet", href="stylesheets/main.css")
        link(rel="stylesheet", href="stylesheets/alertify.default.css")
        link(rel="stylesheet", href="stylesheets/alertify.core.css")
        link(href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700", rel="stylesheet", type="text/css")
    body
       include sections/login
       include sections/chat
    script(src="/socket.io/socket.io.js")
    script(src="scripts/alertify.js")
    script(src="scripts/chat.js")